<IfModule mod_rewrite.c>
    RewriteEngine On
    # RewriteCond %{HTTPS} !=on
    # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond $1 !^(index\.php|assets|img|css|js|robots\.txt|favicon\.ico)
    RewriteRule ^(.*)$ ./index.php?/$1 [L,QSA]
</IfModule>

#Begin Variables

SetEnv CI_ENV development
SetEnv DB_HOST localhost
SetEnv DB_NAME nhealth
SetEnv DB_USER nhealth
SetEnv DB_PASSWORD Pass7553

#End Variables